In [1]:
[1,2,3]

[1, 2, 3]

In [16]:
a = [1,2,3]
b = [4, 5, 6]

In [5]:
a

[1, 2, 3]

In [7]:
import numpy as np

In [9]:
np.array(a)

array([1, 2, 3])

In [11]:
a

[1, 2, 3]

- a -> list
- np.array(a) -> numpy 의 array
- 위 2개는 다르다

In [20]:
np.array([a,b])

array([[1, 2, 3],
       [4, 5, 6]])

- numpy 타입의 데이터가 연산이 빠르다
- 딥러닝과 같은 케이스에서는 numpy 로 작업된다

In [23]:
import pandas as pd

In [25]:
pd.DataFrame([a,b])

   0  1  2
0  1  2  3
1  4  5  6

In [27]:
pd.DataFrame([a,b], columns = ['a', 'b', 'c'])

   a  b  c
0  1  2  3
1  4  5  6

In [29]:
pd.DataFrame([a,b], columns = ['a', 'b', 'c'], index = ['x', 'y'])

   a  b  c
x  1  2  3
y  4  5  6

In [31]:
pd.Series(a)

0    1
1    2
2    3
dtype: int64

In [33]:
data = pd.read_csv('ecommerce.csv')
data

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\r\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\r\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\r\nCobbborough,...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\r\nPort Jason, OH 22070-...",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\r\nPort Jacobville, PR...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,4483 Jones Motorway Suite 872\r\nLake Jamiefur...,Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\r\nWest Richard, CA ...",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,0787 Andrews Ranch Apt. 633\r\nSouth Chadburgh...,Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\r\nBrendachester, ...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\r\nEast Drewboro...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [35]:
type(data)

pandas.core.frame.DataFrame

In [37]:
np.array(data)

array([['mstephenson@fernandez.com',
        '835 Frank Tunnel\r\nWrightmouth, MI 82180-9605', 'Violet', ...,
        39.57766801952616, 4.0826206329529615, 587.9510539684005],
       ['hduke@hotmail.com',
        '4547 Archer Common\r\nDiazchester, CA 06566-8576', 'DarkGreen',
        ..., 37.268958868297744, 2.66403418213262, 392.2049334443264],
       ['pallen@yahoo.com',
        '24645 Valerie Unions Suite 582\r\nCobbborough, DC 99414-7564',
        'Bisque', ..., 37.110597442120856, 4.104543202376424,
        487.54750486747207],
       ...,
       ['dale88@hotmail.com',
        '0787 Andrews Ranch Apt. 633\r\nSouth Chadburgh, TN 56128',
        'Cornsilk', ..., 38.33257633196044, 4.958264472618699,
        551.6201454762477],
       ['cwilson@hotmail.com',
        '680 Jennifer Lodge Apt. 808\r\nBrendachester, TX 05000-5873',
        'Teal', ..., 36.84008572976701, 2.336484668112853,
        456.469510066298],
       ['hannahwilson@davidson.com',
        '49791 Rachel Heights Apt. 898\r\nEast Drewborough, OR 55919-9528',
        'DarkMagenta', ..., 35.771016191612965, 2.7351595670822753,
        497.7786422156802]], dtype=object)

In [41]:
data1 = pd.DataFrame(np.array(data))
data1.head()

,0,1,2,3,4,5,6,7
0,mstephenson@fernandez.com,"835 Frank Tunnel\r\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\r\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\r\nCobbborough,...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\r\nPort Jason, OH 22070-...",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\r\nPort Jacobville, PR...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

- numpy 형태의 data type 과 pandas 형태의 data type 호환 가능
- 나중에 어떤 모델링 결과가 numpy array 형태로 나오는데 이것을 pandas dataframe 으로 다시 변환해야 하는 경우가 있다.